* {
  box-sizing: border-box;
  /* vc pode apagar esse margin e epading pra poder ganahr liberdade nos outros components*/
  margin: 0;   
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

body{
  background-color: rgb(57, 61, 61);
  /* kkk vc pode remover esse back ground color so coloquei pra n ficar quele branco fodido */
}